name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Docker Login
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

    - name: Build & Push Backend
      run: |
        docker build -t akash060302/mean-backend ./backend
        docker push akash060302/mean-backend

    - name: Build & Push Frontend
      run: |
        docker build -t akash060302/mean-frontend ./frontend
        docker push akash060302/mean-frontend

    - name: Deploy on Server
      uses: appleboy/ssh-action@v1
      with:
        host: ${{ secrets.SERVER_IP }}
        username: ubuntu
        key: ${{ secrets.SSH_KEY }}
        script: |
          cd discover_dollar
          docker-compose pull
          docker-compose up -d